_debug*
.env
__pycache__
_sc.py
*.ckpt
*.bin

checkpoints
.idea
.idea/workspace.xml
.DS_Store
*/__pycache__git
.pyc
.iml
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/
